extends ../index
block content
  h1 Home
  p Phasellus ac diam dolor. Fusce pretium tellus vel libero pharetra faucibus. Curabitur viverra est purus, at sagittis nisl viverra accumsan. Nunc cursus volutpat augue, ut volutpat nisi condimentum eu. In ornare odio sed tincidunt iaculis. Duis orci magna, tempor sit amet ligula eget, accumsan mattis mi. Quisque ac interdum massa, accumsan tristique est. Pellentesque imperdiet finibus ante a commodo. Sed eros lorem, faucibus eu sollicitudin in, pellentesque ac diam. Aenean at feugiat orci, ac porttitor magna. Aliquam metus ipsum, pulvinar sit amet vulputate a, sollicitudin vitae urna.
  p In aliquet sapien velit, id tincidunt mauris efficitur vitae. Praesent vulputate molestie leo non sollicitudin. Donec non lectus nisl. Vivamus lacinia auctor leo vel lacinia. Ut sit amet luctus nisi, in luctus diam. Nulla condimentum dui dolor, eget posuere erat pretium in. Nam luctus mollis tortor, id elementum sapien sodales sed. Praesent semper a nibh a condimentum. Aliquam eu leo dui. Pellentesque nibh quam, scelerisque at facilisis vel, efficitur sed arcu. Pellentesque nisl magna, feugiat nec consequat ac, ornare facilisis ex.
  h3 Movie Reference Links
  ul
    li: a(href='http://rottentomatoes.com') Rotten Tomatoes
    li: a(href='http://www.imdb.com/') Imdb
